.wrapper {
	width: 600px;
	height: 600px;
	margin: 20px auto;
}

/* For special class selectors that you want, you can add "!important" to the end;
   regardless of specificity, that property will take precedence */
   
.hitme {
	background-color: white;
}

div > div {
	display: inline-block;
	width: 37.5px;
	height: 37.5px;
	background-color: gray;
  	margin: 0;
  	padding: 0;
  	border: none;
  	margin-bottom:-4px;
	/*border: 1px solid black;
	border-radius: 5px;*/
}

.button {
  width: 100px;
  margin: 0 auto;
}

button {
  width: 100px;
}